* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(45, 14, 182);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  margin-bottom: 15px;
}
.passwordBox {
  width: 300px;
  padding: 20px;
  background-color: blueviolet;
}
.passwordBoxin {
  display: flex;
}
.passwordBoxin input {
  flex-basis: 80%;
  padding-left: 5px;
}
.passwordBoxin button {
  flex-basis: 20%;
  padding: 10px 0px;
  margin-left: 10px;
}
.passLength {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passLength label {
  flex-basis: 80%;
}
.passLength input {
  width: 60px;
  padding: 10px 0px;
}
.btn {
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
}
